# API port
PORT=7849

# PostgreSQL
DATABASE_URL="postgresql://name:password@host:5432/databasename"

# MongoDB
MONGODB_URI="mongodb://username:password@localhost:27017/?authSource=admin"

# JWT
JWT_SECRET=THISISQUIZY